<!DOCTYPE html>
<html>

  <head>
    <title>早押し検定</title>
    <meta charset="UTF-8">
    <meta name="description" content="早押しクイズができます" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <script src="./assets/vue-2.5.16.min.js"></script>
    <script src="./lib/romaji.js"></script>
    <script src="./lib/audio.js"></script>
    <link rel="stylesheet" href="./assets/new.min.css" type="text/css">
    <link rel="stylesheet" href="style.css" type="text/css">
  </head>

  <body>
    <div id="app">

      <div v-if="state === STATES.INTRO">
        <header>
          <h1>
            早押し検定 〜 <span v-if="problems">{{ problems.title }}</span>
          </h1>
          <p v-if="problems">
            作問:
            <a target="_blank" :href="problems.author.url">{{ problems.author.text }}</a>
            /
            プログラム:
            <a target="_blank" href="https://zk-phi.github.io/">zk-phi</a>
            /
            効果音:
            <a target="_blank" href="https://soundeffect-lab.info">効果音ラボ</a>
          </p>
        </header>
        <p v-if="problems && problems.description">
          {{ problems.description }}
        </p>
        <h3>遊びかた</h3>
        <ul>
          <li>わかりそうなところで [Space] キーを押すと問題文が止まります。</li>
          <li>早く止めて正解するほど高得点（100 〜 200点）がもらえます。</li>
          <li>シンキングタイムは約５秒です。問題を止めてから約５秒放置すると不正解になります。</li>
          <li>不正解の問題は０点になります。お手つきはありません。</li>
        </ul>
        <h3>操作方法</h3>
        <ul>
          <li>タイピングゲームのように、キーボードで答えを入力してください。</li>
          <li>漢字変換や、「半角・全角」の切り替えは不要です。</li>
          <li>「かな入力」には対応していません。ゴメンナサイ</li>
          <li>
            操作方法が不安な場合、まずは
            <a target="_blank" href="https://zk-phi.github.io/simple-buzzer-quiz/">サンプル問題</a>
            をどうぞ。
          </li>
        </ul>
        <h3>Tips</h3>
        <ul>
          <li>タイピング速度はスコアに関係ありません。</li>
          <li>タイプミスは不正解になるので、慎重に入力してください。</li>
          <li>オリジナル問題で遊びたい方は<a target="_blank" href="./json.html">こちら</a>。</li>
        </ul>
        <hr />
        <p v-if="loadError">問題の読み込みに失敗しました</p>
        <p v-else-if="loadingStatus">{{ loadingStatus }}</p>
        <p v-else="problems">
          <button v-if="IS_TOUCH" @click="keyDown(' ')">スタート（音が鳴ります）</button>
          <span v-else>[Space] でスタート（音が鳴ります）</span>
        </p>
      </div>

      <div v-if="state === STATES.READING">
        <h2>問題 ({{ problemId + 1 }}/{{ problems.problems.length }})</h2>
        <p>現在スコア {{ score }} <span v-if="scoreDiff">(+ {{ scoreDiff }})</span></p>
        <blockquote>
          {{ displayedProblem }}<span class="hidden">{{ pendingProblem }}</span>
        </blockquote>
        <hr />
        <p v-if="IS_TOUCH">画面をタップで回答開始</p>
        <p v-else>[Space] で回答開始</p>
      </div>

      <div v-if="IS_TOUCH && state === STATES.READING"
          @touchend="keyDown(' ')" class="touch-overlay">
      </div>

      <div v-if="state === STATES.INPUT">
        <h2>問題 ({{ problemId + 1 }}/{{ problems.problems.length }})</h2>
        <p>現在スコア {{ score }} <span v-if="scoreDiff">(+ {{ scoreDiff }})</span></p>
        <blockquote>
          {{ displayedProblem }}<span class="hidden">{{ pendingProblem }}</span>
        </blockquote>
        <p>シンキングタイム: {{ Math.floor(inputTimer / 1000) }}</p>
        <p :class="{ diminished: alphaError }">
          英数: {{ alphaInput }}|
        </p>
        <p :class="{ diminished: kanaError }">
          かな: {{ kanaInput }}{{ pendingKana }}|
        </p>
        <hr />
        <p>キーボードで回答を入力</p>
      </div>

      <div v-if="state === STATES.CORRECT">
        <h2>問題 ({{ problemId + 1 }}/{{ problems.problems.length }})</h2>
        <p>現在スコア {{ score }} <span v-if="scoreDiff" class="correct">(+{{ scoreDiff }})</span></p>
        <blockquote>{{ displayedProblem }}{{ pendingProblem }}</blockquote>
        <p class="diminished">シンキングタイム: {{ Math.floor(inputTimer / 1000) }}</p>
        <p :class="{ diminished: !alphaCorrect, correct: alphaCorrect }">
          英数: {{ alphaInput }}
          {{ alphaCorrect ? "⭕" : "" }}
        </p>
        <p :class="{ diminished: !kanaCorrect, correct: kanaCorrect }">
          かな: {{ kanaInput }}{{ pendingKana }}
          {{ kanaCorrect ? "⭕" : "" }}
        </p>
        <p>A. {{ problems.problems[problemId].displayAnswer }}</p>
        <p><small>{{ problems.problems[problemId].explanation }}</small></p>
        <hr />
        <p>
          <button v-if="IS_TOUCH" @click="keyDown(' ')">次へ</button>
          <span v-else>[Space] で次へ</span>
        </p>
      </div>

      <div v-if="state === STATES.ERROR">
        <h2>問題 ({{ problemId + 1 }}/{{ problems.problems.length }})</h2>
        <p>現在スコア {{ score }} <span v-if="scoreDiff" class="diminished">(+ {{ scoreDiff }})</span></p>
        <blockquote>{{ displayedProblem }}{{ pendingProblem }}</blockquote>
        <p class="diminished">シンキングタイム: {{ Math.floor(inputTimer / 1000) }}</p>
        <p class="diminished">
          英数: {{ alphaInput }}
        </p>
        <p class="diminished">
          かな: {{ kanaInput }}{{ pendingKana }}
        </p>
        <p>A. {{ problems.problems[problemId].displayAnswer }}</p>
        <small>{{ problems.problems[problemId].explanation }}</small>
        <hr />
        <p>
          <button v-if="IS_TOUCH" @click="keyDown(' ')">次へ</button>
          <span v-else>[Space] で次へ</span>
        </p>
      </div>

      <div v-if="state === STATES.RESULT">
        <h2>検定終了</h2>
        <p>おつかれさまでした！</p>
        <p>
          スコア: {{ score }} 点 (正答数 {{ correctCount }}/{{ problems.problems.length }})
          <a target="_blank" :href="shareUrl">Tweet</a>
        </p>
        <h3>問題一覧</h3>
        <table>
          <tbody>
            <tr v-for="row in history">
              <td>{{ row.problem }}</td>
              <td v-if="row.correct">
                ⭕ <a target="_blank" :href="row.problem | toShareUrlCorrect">Tweet</a>
              </td>
              <td v-else>
                ❌ <a target="_blank" :href="row.problem | toShareUrlWrong">Tweet</a>
              </td>
            </tr>
          </tbody>
        </table>
        <hr />
        <p>
          <button v-if="IS_TOUCH" @click="keyDown(' ')">最初に戻る</button>
          <span v-else>[Space] で最初に戻る</span>
        </p>
      </div>

      <div v-if="IS_TOUCH && state === STATES.INPUT" class="keyboard">
        <div class="keyboard-row">
          <span @touchend="keyDown('1')" class="keyboard-key-container x0975">
            <span class="keyboard-key">1</span>
          </span>
          <span @touchend="keyDown('2')" class="keyboard-key-container x0975">
            <span class="keyboard-key">2</span>
          </span>
          <span @touchend="keyDown('3')" class="keyboard-key-container x0975">
            <span class="keyboard-key">3</span>
          </span>
          <span @touchend="keyDown('4')" class="keyboard-key-container x0975">
            <span class="keyboard-key">4</span>
          </span>
          <span @touchend="keyDown('5')" class="keyboard-key-container x0975">
            <span class="keyboard-key">5</span>
          </span>
          <span @touchend="keyDown('6')" class="keyboard-key-container x0975">
            <span class="keyboard-key">6</span>
          </span>
          <span @touchend="keyDown('7')" class="keyboard-key-container x0975">
            <span class="keyboard-key">7</span>
          </span>
          <span @touchend="keyDown('8')" class="keyboard-key-container x0975">
            <span class="keyboard-key">8</span>
          </span>
          <span @touchend="keyDown('9')" class="keyboard-key-container x0975">
            <span class="keyboard-key">9</span>
          </span>
          <span @touchend="keyDown('0')" class="keyboard-key-container x0975">
            <span class="keyboard-key">0</span>
          </span>
        </div>
        <div class="keyboard-row">
          <span @touchend="keyDown('q')" class="keyboard-key-container x075">
            <span class="keyboard-key">Q</span>
          </span>
          <span @touchend="keyDown('w')" class="keyboard-key-container">
            <span class="keyboard-key">W</span>
          </span>
          <span @touchend="keyDown('e')" class="keyboard-key-container">
            <span class="keyboard-key">E</span>
          </span>
          <span @touchend="keyDown('r')" class="keyboard-key-container">
            <span class="keyboard-key">R</span>
          </span>
          <span @touchend="keyDown('t')" class="keyboard-key-container">
            <span class="keyboard-key">T</span>
          </span>
          <span @touchend="keyDown('y')" class="keyboard-key-container">
            <span class="keyboard-key">Y</span>
          </span>
          <span @touchend="keyDown('u')" class="keyboard-key-container">
            <span class="keyboard-key">U</span>
          </span>
          <span @touchend="keyDown('i')" class="keyboard-key-container">
            <span class="keyboard-key">I</span>
          </span>
          <span @touchend="keyDown('o')" class="keyboard-key-container">
            <span class="keyboard-key">O</span>
          </span>
          <span @touchend="keyDown('p')" class="keyboard-key-container">
            <span class="keyboard-key">P</span>
          </span>
        </div>
        <div class="keyboard-row">
          <span @touchend="keyDown('a')" class="keyboard-key-container">
            <span class="keyboard-key">A</span>
          </span>
          <span @touchend="keyDown('s')" class="keyboard-key-container">
            <span class="keyboard-key">S</span>
          </span>
          <span @touchend="keyDown('d')" class="keyboard-key-container">
            <span class="keyboard-key">D</span>
          </span>
          <span @touchend="keyDown('f')" class="keyboard-key-container">
            <span class="keyboard-key">F</span>
          </span>
          <span @touchend="keyDown('g')" class="keyboard-key-container">
            <span class="keyboard-key">G</span>
          </span>
          <span @touchend="keyDown('h')" class="keyboard-key-container">
            <span class="keyboard-key">H</span>
          </span>
          <span @touchend="keyDown('j')" class="keyboard-key-container">
            <span class="keyboard-key">J</span>
          </span>
          <span @touchend="keyDown('k')" class="keyboard-key-container">
            <span class="keyboard-key">K</span>
          </span>
          <span @touchend="keyDown('l')" class="keyboard-key-container">
            <span class="keyboard-key">L</span>
          </span>
          <span @touchend="keyDown('l')" class="keyboard-key-container x075">
            <span class="keyboard-key spacer"></span>
          </span>
        </div>
        <div class="keyboard-row">
          <span @touchend="keyDown('z')" class="keyboard-key-container x05">
            <span class="keyboard-key spacer"></span>
          </span>
          <span @touchend="keyDown('z')" class="keyboard-key-container">
            <span class="keyboard-key">Z</span>
          </span>
          <span @touchend="keyDown('x')" class="keyboard-key-container">
            <span class="keyboard-key">X</span>
          </span>
          <span @touchend="keyDown('c')" class="keyboard-key-container">
            <span class="keyboard-key">C</span>
          </span>
          <span @touchend="keyDown('v')" class="keyboard-key-container">
            <span class="keyboard-key">V</span>
          </span>
          <span @touchend="keyDown('b')" class="keyboard-key-container">
            <span class="keyboard-key">B</span>
          </span>
          <span @touchend="keyDown('n')" class="keyboard-key-container">
            <span class="keyboard-key">N</span>
          </span>
          <span @touchend="keyDown('m')" class="keyboard-key-container">
            <span class="keyboard-key">M</span>
          </span>
          <span @touchend="keyDown('-')" class="keyboard-key-container x225">
            <span class="keyboard-key">-</span>
          </span>
        </div>
      </div>

    </div>
    <script src="main.js"></script>
  </body>

</html>
