* {
  box-sizing: border-box;
}

.diminished {
  color: gainsboro;
}

.correct {
  color: blue;
}

.hidden {
  color: rgba(0, 0, 0, 0);
}

.problem {
  padding: 0.5em;
  border: 1px solid black;
}

/* touch control */

.touch-overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

.keyboard {
  --keyboard-key-w: 10vw;
  --keyboard-key-h: 12vw;
  --keyboard-key-margin: 1vw;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: calc(var(--keyboard-key-margin) / 2) 0;
  background: gainsboro;
  /* Disable "double-tap to zoom" */
  touch-action: manipulation;
}

.keyboard-row {
  display: flex;
  justify-content: center;
}

.keyboard-key-container {
  width: var(--keyboard-key-w);
  height: var(--keyboard-key-h);
  padding: calc(var(--keyboard-key-margin) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard-key-container.x05 {
  width: calc(var(--keyboard-key-w) * 0.5);
}

.keyboard-key-container.x075 {
  width: calc(var(--keyboard-key-w) * 0.75);
}

.keyboard-key-container.x0975 {
  width: calc(var(--keyboard-key-w) * 0.975);
}

.keyboard-key-container.x125 {
  width: calc(var(--keyboard-key-w) * 1.25);
}

.keyboard-key-container.x15 {
  width: calc(var(--keyboard-key-w) * 1.50);
}

.keyboard-key-container.x175 {
  width: calc(var(--keyboard-key-w) * 1.75);
}

.keyboard-key {
  font-size: 4vw;
  width: calc(var(--keyboard-key-w) - var(--keyboard-key-margin));
  height: calc(var(--keyboard-key-h) - var(--keyboard-key-margin));
  text-align: center;
  line-height: calc(var(--keyboard-key-h) - var(--keyboard-key-margin));
  background: white;
  border-radius: 2vw;
  box-shadow: 0.2vw 0.2vw grey;
}

.keyboard-key.spacer {
  opacity: 0.25;
  border: 1px solid gray;
  background: none;
  box-shadow: none;
}

.x05 .keyboard-key {
  width: calc(var(--keyboard-key-w) * 0.5 - var(--keyboard-key-margin));
}

.x075 .keyboard-key {
  width: calc(var(--keyboard-key-w) * 0.75 - var(--keyboard-key-margin));
}

.x0975 .keyboard-key {
  width: calc(var(--keyboard-key-w) * 0.975 - var(--keyboard-key-margin));
}

.x125 .keyboard-key {
  width: calc(var(--keyboard-key-w) * 1.25 - var(--keyboard-key-margin));
}

.x15 .keyboard-key {
  width: calc(var(--keyboard-key-w) * 1.5 - var(--keyboard-key-margin));
}

.x175 .keyboard-key {
  width: calc(var(--keyboard-key-w) * 1.75 - var(--keyboard-key-margin));
}
